<%- include('../../fragments/header.ejs') %>
    
    <main>
        <script type="application/javascript" src="/js/validationCarsForm.js"></script>
        <h2><%= pageTitle%></h2>
        
        <form class="form" method="post" action="<%=formAction%>" novalidate ><!--onsubmit="return validateForm();"-->

            <input type="hidden" name="_id" value="<%= car._id %>">

            <div style="display: none">
                <span id="errorMessage-required"><%= __('auth.fieldRequired') %></span>
            </div>
            <div style="display: none">
                <span id="errorMessage-lengthError"><%= __('auth.lengthError') %></span>
            </div>
            <div style="display: none">
                <span id="errorMessage-yearError"><%= __('auth.yearError') %></span>
            </div>
            <div style="display: none">
                <span id="errorMessage-formError"><%= __('auth.formError') %></span>
            </div>




            <label for="make"><%= __('cars.fields.make') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="make" id="make" placeholder="BMW" value="<%= car.make %>"
                   class="<%= validationErrors.find(e=>e.path.includes('make')) ? 'error-input' : '' %>"
                    <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
            <span id="errorMake" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('make'))) { %>
                    <% if(validationErrors.find(e => e.path.includes('make')).message.toString() === "The field is required") { %>
                        <%= __('auth.fieldRequired')%>
                    <%}else{%>
                        <%= __('auth.lengthError')%>
                    <%}%>
                <% } %>
            </span>
            
            <label for="model"><%= __('cars.fields.model') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="model" id="model" placeholder="1 series" value="<%= car.model %>"
                   class="<%= validationErrors.find(e=>e.path.includes('model')) ? 'error-input' : '' %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
            <span id="errorModel" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('model'))) { %>
                    <% if(validationErrors.find(e => e.path.includes('model')).message.toString() === "The field is required") { %>
                        <%= __('auth.fieldRequired')%>
                    <%}else{%>
                        <%= __('auth.lengthError')%>
                    <%}%>
                <% } %>
            </span>

           
            <label for="year"><%= __('cars.fields.year') %>:</label>
            <input type="number" name="year" id="year" placeholder="np: 2000" value="<%= car.year %>"
                   class="<%= validationErrors.find(e=>e.path.includes('year')) ? 'error-input' : '' %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
            <span id="errorYear" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('year'))) { %>
                    <% if(validationErrors.find(e => e.path.includes('year')).message.toString() === "The field is required") { %>
                        <%= __('auth.fieldRequired')%>
                    <%}else{%>
                        <%= __('auth.yearError')%>
                    <%}%>
                <% } %>
            </span>
            
            <label for="color"><%= __('cars.fields.color') %>:</label>
            <input type="text" name="color" id="color" placeholder="np: black" value="<%= car.color %>"
                   class="<%= validationErrors.find(e=>e.path.includes('color')) ? 'error-input' : '' %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
            <span id="errorColor" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('color'))) { %>
                    <% if(validationErrors.find(e => e.path.includes('color')).message.toString() === "The field is required") { %>
                        <%= __('auth.fieldRequired')%>
                    <%}else{%>
                        <%= __('auth.lengthError')%>
                    <%}%>
                <% } %>
            </span>
            
            <% if (formMode == 'showDetails') { %>
                <div>
                    <a class="list-actions-button-edit" href="/cars/edit/<%= carBefore._id %>"><%= __('form.actions.edit') %>   </a>
                </div>
            <% } %>
            
            <div>
         <span id="errorsSummary" class="errors-text">
             <% if(validationErrors.length !== 0) {%>
                 <%= __('auth.formError')%>
             <%}%>
         </span>

                <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%= __('cars.form.edit.btnLabel') %>" />
                    <a class="form-button-cancel" href="/cars"><%= __('form.actions.cancel') %></a>
                <% } else { %>
                    <a class="form-button-cancel" href="/cars"><%= __('form.actions.return') %></a>
                <% } %>
            </div>
            
        </form>
        
        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Rental details</h2>
        
        <table class="table-list">
            <thead>
                <tr>
                    <th><%=__('rent.fields.customer_id')%></th>
                    <th><%=__('rent.fields.rent_date')%></th>
                    <th><%=__('rent.fields.return_date')%></th>
                </tr>
            </thead>
    
            <tbody>
                <% for (let b of carBefore.rents) { %>
                    <tr>
                        <td><a href="/customers/customers-details/<%= b.customer._id %>"><%= b.customer.name %></a></td>
                        <td><%= b.rent_date.toISOString().split('T')[0] %></td>
                        <td><%= b.return_date ? b.return_date.toISOString().split('T')[0] : '' %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
        
    </main>
    
<%- include('../../fragments/footer.ejs') %>