<%- include('../../fragments/header.ejs') %>
    
    <main>
        <h2><%=__('customers.list.pageTitle')%></h2>
        
        <table class="table-list">
            
            <thead>
                <tr>
                    <th><%=__('customers.fields.name')%></th>
                    <th><%=__('customers.fields.surname')%></th>
                    <th><%=__('customers.fields.address')%></th>
                    <th><%=__('customers.fields.phone_number')%></th>
                    <th><%= __('list.actions.title') %></th>
                </tr>
            </thead>
    
            <tbody> 
            <% for (let customer of customers) { %>
                <tr>
                    <td><%= customer.name %></td>
                    <td><%= customer.surname %></td>
                    <td><%= customer.address %></td>
                    <td><%= customer.phone_number %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/customers/details/<%=customer._id%>" class="list-actions-button-details"><%= __('list.actions.details') %> </a>
                            </li>
                            <li>
                                <a href="/customers/edit/<%=customer._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %> </a>
                            </li>
                            <li>
                                <a href="/customers/delete/<%=customer._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %> </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
            
        </table>
        
        <p><a href="/customers/add" class="button-add"><%= __('customers.list.addNew') %></a></p>
        
    </main>
    
<%- include('../../fragments/footer.ejs') %>